body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #404040;
  padding: 1rem; /*unutrašnji prostor veličine 16 piksela na sve četiri strane*/
}
header a {
  /*odnosi se na elemente 'a' u header-u i to su linkovi*/
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
main {
  padding: 1rem;
}
.products {
  display: flex; /*da slike budu jedna pored druge*/
  flex-wrap: wrap; /*kada nema mesta u jednom redu da se prebaci u sledeci*/
  justify-content: center;
}
.product {
  border: 1px #404040 solid;
  margin: 1rem; /*razmak izmedju proizvoda*/
}
.product img {
  width: 100%;
  max-width: 400px;
  height: 300px; /* postavka visine na određenu vrednost */
}
.product-info {
  padding: 1rem;
}
